@using Microsoft.AspNetCore.Identity
@using MovieNight.Data
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Moin!</h1>
    @if (SignInManager.IsSignedIn(User))
    {
        <a class="btn btn-primary" asp-action="Index" asp-controller="Voting">Start Voting</a>
    }
    else
    {
        <p>Please log in to participate.</p>
    }
    
</div>
